---
import Layout from "@layouts/Layout.astro";
import Services from "@componets/Services";
import Footer from "@componets/Footer.astro";
---

<Layout
  title="MACOTI | Home"
  description="Welcome to our website"
  keywords="home, website, example"
>
  <div
    class="mt-20 md:mt-0 md:h-screen w-auto flex items-center justify-center"
  >
    <Services client:visible />
  </div>
  <hr class="border border-black w-full" />
  <Footer />
</Layout>
