@import "tailwindcss";

@theme {
    --color-principal: #f79428;
    --color-secundario: #4c4c4c;
    --color-rojo: #fb2c36;
}

.container-nav {
    @apply container mx-auto flex justify-between items-center p-4;
  }

.animacion-hover-nav {
  @apply hover:text-principal text-secundario transition-colors font-semibold
}