---
import Layout from "@layouts/Layout.astro";
import Policy from "@componets/policy.astro";
import Footer from "@componets/Footer.astro";
---

<Layout
  title="MACOTI | Politica de privacidad"
  description="Welcome to our website"
  keywords="about, website, example"
>
  <div class="mt-20 md:mt-28 md:h-screen w-auto flex justify-center">
    <Policy />
  </div>
  <hr class="border border-black w-full" />
  <Footer />
</Layout>
