---
import Layout from "@layouts/Layout.astro";
import Services from "@components/Services.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="MACOTI | Services"
  description="Welcome to our website"
  keywords="services, website, example"
>
  <div class="mt-20 md:mt-28 md:h-screen w-auto flex justify-center">
    <Services />
  </div>
  <hr class="border border-black w-full" />
  <Footer />
</Layout>
