---
import Layout from "@layouts/Layout.astro";
import Terms from "@components/terms.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="MACOTI | Terminos y Condiciones"
  description="Welcome to our website"
  keywords="about, website, example"
>
  <div class="mt-20 md:mt-28 md:h-screen w-auto flex justify-center">
    <Terms />
  </div>
  <hr class="border border-black w-full" />
  <Footer />
</Layout>
