---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import AboutImage from "@components/AboutImage";
---

<main>
  <section
    class="container flex-col items-center justify-center mx-auto p-4 mt-8"
  >
    <div class="mb-12">
      <h2 class="text-3xl font-bold mb-4">
        {t("intro.title")}
      </h2>
      <p class="text-gray-600 text-xl mb-4">
        {t("intro.text1")}
      </p>
      <p class="text-gray-600 text-lg mb-4">
        {t("intro.text2")}
      </p>
      <p class="text-gray-600 text-lg">
        {t("intro.text3")}
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-15">
      <AboutImage
        client:load
        images={[
          "/about_1.jpeg",
          "/about_2.jpeg",
          "/about_3.jpeg",
          "/about_4.jpeg",
          "/about_5.jpeg",
        ]}
      />

      <div class="text-left">
        <h2 class="text-3xl font-bold mb-4">
          {t("about.title")}
        </h2>
        <p class="text-gray-600 text-xl mb-4">
          {t("about.text1")}
        </p>
        <p class="text-gray-600 text-lg">
          {t("about.text2")}
        </p>
        <p class="text-gray-600 text-lg mb-4">
          {t("about.text3")}
        </p>
        <p class="text-gray-600 text-lg">
          {t("about.text4")}
        </p>
      </div>
    </div>
  </section>
</main>
