---
const isEn = Astro.url.pathname.startsWith("/en/");
---

<main>
  <section class="container flex items-center justify-center mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-15">
      <div class="bg-gray-300 h-[500px] animate-pulse rounded-lg">
        <p></p>
      </div>

      <div class="text-left">
        <h2 class="text-3xl font-bold mb-4">
          {isEn ? "About Us" : "Sobre Nosotros"}
        </h2>
        <p class="text-gray-600 text-xl mb-4">
          {
            isEn
              ? "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente consequatur tempore illum aliquam culpa hic officia veniam, dignissimos fugiat quidem nam corrupti temporibus quo optio molestias, dolores incidunt minus, est nihil sed quibusdam? Cum magni ratione totam, omnis ab iusto recusandae unde impedit ipsum, odio rem quasi possimus autem tempore."
              : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consequatur tempore illum aliquam culpa hic officia veniam, dignissimos fugiat quidem nam corrupti temporibus quo optio molestias, dolores incidunt minus, est nihil sed quibusdam? Cum magni ratione totam, omnis ab iusto recusandae unde impedit ipsum, odio rem quasi possimus autem tempore."
          }
        </p>
        <p class="text-gray-600 text-lg">
          {
            isEn
              ? "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quis qui impedit reprehenderit velit consectetur magnam iusto aliquam id ad ea, vel distinctio sequi, sed doloribus, aliquid culpa. Aliquid vitae, hic dolor nulla voluptatum aliquam."
              : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis qui impedit reprehenderit velit consectetur magnam iusto aliquam id ad ea, vel distinctio sequi, sed doloribus, aliquid culpa. Aliquid vitae, hic dolor nulla voluptatum aliquam."
          }
        </p>
      </div>
    </div>
  </section>
</main>
