---

---

<footer class="pt-8">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mb-8">
      <div>
        <h3 class="font-semibold mb-4 text-3xl">About Us</h3>
        <div class="space-y-2 flex flex-col">
          <p class="text-gray-600">
            En MACOTI Contamos con amplia experiencia en la industria
            metalmecánica, con participación en áreas médicas, aeroespacial y
            automotriz. <br />Nos ponemos a sus órdenes:
          </p>
          <a
            href="tel:+526643748031"
            target="_blank"
            class="text-[#f79428] hover:underline">6643748031</a
          >
          <a
            href="mailto:MACOTI.Ricardo@gmail.com"
            target="_blank"
            class="text-[#f79428] hover:underline">MACOTI.Ricardo@gmail.com</a
          >
        </div>
      </div>

      <div>
        <h3 class="font-semibold mb-4 text-3xl">Features</h3>
        <ul class="space-y-2 text-gray-600">
          <li><a href="#" class="hover:text-[#f79428]">Inicio</a></li>
          <li><a href="#" class="hover:text-[#f79428]">Acerca de</a></li>
          <li><a href="#" class="hover:text-[#f79428]">Servicios</a></li>
          <li><a href="#" class="hover:text-[#f79428]">Contacto</a></li>
          <li><a href="#" class="hover:text-[#f79428]">Ubicación</a></li>
        </ul>
      </div>

      <div>
        <h3 class="font-semibold mb-4 text-3xl">Follow Us</h3>
        <ul class="space-y-2 text-gray-600">
          <li>
            <a
              href="https://www.facebook.com/MaquinadoComputarizadoTijuana/?locale=es_LA"
              target="_blank"
              class="hover:text-[#f79428]">Facebook</a>
          </li>
          <li>
            <a
              href="https://mx.linkedin.com/company/maquinado-computarizado-tijuana"
              target="_blank"
              class="hover:text-[#f79428]">LinkedIn</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-semibold mb-4 text-3xl">Useful Links</h3>
        <ul class="space-y-2 text-gray-600">
          <li><a href="#" class="hover:text-[#f79428]">Privacy Policy</a></li>
          <li>
            <a href="#" class="hover:text-[#f79428]">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="border-t-2 border-black pt-4 pb-6 text-center text-gray-600">
      &copy; {new Date().getFullYear()} MACOTI. Todos los derechos reservados.
    </div>
  </div>
</footer>
