---

---

<main class="my-8">
  <h1 class="text-3xl font-bold mb-8 container px-4 mx-auto">
    Comprometidos con la calidad
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    <div class="bg-gray-300 h-96 animate-pulse border-r-1 border-y-1"></div>
    <div class="bg-gray-300 h-96 animate-pulse border-r-1 border-y-1"></div>
    <div class="bg-gray-300 h-96 animate-pulse border-r-1 border-y-1"></div>
    <div class="bg-gray-300 h-96 animate-pulse border-r-1 border-y-1"></div>
  </div>
</main>
