<main
  class="bg-cover bg-no-repeat h-screen w-screen flex items-center justify-center mt-12"
>
  <div
    class="w-3/4 h-3/4 bg-gray-300 animate-pulse rounded-lg flex items-center justify-center"
  >
    <p class="text-center text-gray-700 font-bold">
      Aquí irá el video de la página web como Hero Element
    </p>
  </div>
</main>
