---
const elementos = [
  {
    id: 1,
    titulo: "Lorem ipsum dolor sit amet.",
    descripcion:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat enim ducimus est libero. Dolor architecto, hic enim error exercitationem aperiam odio commodi impedit dignissimos blanditiis maiores mollitia quia tempora ipsa placeat, iste, vel non.",
  },
  {
    id: 2,
    titulo: "Lorem ipsum dolor sit.",
    descripcion:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat enim ducimus est libero. Dolor architecto, hic enim error exercitationem aperiam odio commodi impedit dignissimos blanditiis maiores mollitia quia tempora ipsa placeat, iste, vel non.",
  },
  {
    id: 3,
    titulo: "Lorem ipsum dolor sit, amet consectetur adipisicing.",
    descripcion:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat enim ducimus est libero. Dolor architecto, hic enim error exercitationem aperiam odio commodi impedit dignissimos blanditiis maiores mollitia quia tempora ipsa placeat, iste, vel non.",
  },
];
---

<main class="px-6 py-12 gap-8 container mx-auto">
  <h1 class="text-3xl font-bold mb-8">Politica de Privacidad</h1>
  <p class="text-gray-600 mb-8 text-lg">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem vero alias
    blanditiis, error autem quisquam expedita hic? Nemo libero exercitationem
    amet aliquam ab necessitatibus consequatur, expedita ipsum nisi accusamus
    perspiciatis perferendis, aspernatur consectetur, rem soluta eius quas
    dignissimos earum veniam iusto. Alias quos earum ipsum reiciendis porro illo
    dolore eius.
  </p>
  <div class="flex flex-col gap-x-12 gap-y-8 container mx-auto">
    {
      elementos.map((item) => (
        <div class="">
          <h2 class="text-xl font-semibold mb-4">
            {item.id}. {item.titulo}
          </h2>
          <p class="text-gray-600">{item.descripcion}</p>
        </div>
      ))
    }
  </div>
</main>
